body {
  background-color: rgb(105, 105, 194);
}

header {
  background-color: black;
  font-size: 2.5rem;
}

figure {
  /* margin: 0 auto; */
  margin-top: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}
.headerbox {
  display: inline-block;
  font-size: 48;
  background-color: rgb(0, 0, 0);
  padding-right: 15px;
  padding-left: 55px;
  color: white  ;
}

header nav {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

.div {
  display: block;
}

div img {
  max-height: 200px;
}



.columnOne {
  border: solid 4px rgb(0, 0, 0);
  min-width: 15%;
  font-size: 2rem;
  text-align: end;
}

.columnTwo {
  border: solid 4px rgb(0, 0, 0);
  padding: 1rem;
}

.row {
  display: flex;
}

.work .columnTwo {
  display: flex;
  flex-direction: column;
}

.work-container {
  border: solid 2px white;
  padding: 2rem;
}

.work-container .banner-project {
  border: solid 2px red;
  height: 15vh;
}

.work-container .banner-project a {
  border: solid 2px black;
  margin: 2rem;
}

.work-container .banner-project img {
  width: 100%
}

.work-container .other-project {
  border: solid 2px aqua;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0;
}
.work-container .other-project a {
  margin: 1rem 2rem;
}

